<section class="hero">
    <div class="container">
        <div class="border-block hero__block flex">
            <div class="hero__left">
                <div class="hero__ujjo">
                    <img src="img/ujjo-main.svg" alt="ujjo-main">
                </div>
                <div class="hero__phrase ticker">
                    <div class="ticker__wrapper">
                        <div class="ticker__item">Put some fire in your belly
                            <img class="ticker__icon" src="img/pepper.svg" alt="pepper" aria-hidden="true">
                        </div>
                        <div class="ticker__item">Put some fire in your belly
                            <img class="ticker__icon" src="img/pepper.svg" alt="pepper" aria-hidden="true">
                        </div>
                        <div class="ticker__item">Put some fire in your belly
                            <img class="ticker__icon" src="img/pepper.svg" alt="pepper" aria-hidden="true">
                        </div>
                        <div class="ticker__item">Put some fire in your belly
                            <img class="ticker__icon" src="img/pepper.svg" alt="pepper" aria-hidden="true">
                        </div>
                        <div class="ticker__item">Put some fire in your belly
                            <img class="ticker__icon" src="img/pepper.svg" alt="pepper" aria-hidden="true">
                        </div>
                      </div>
                    </div>
                    <div class="hero__image">
                      <img src="img/hero-image.jpg" alt="hot sauce">
                      <img src="img/hero-image.jpg" alt="hot sauce">
                    </div>
            </div>
            <div class="hero__right"></div>
        </div>
    </div>
</section>